.hide {
    display: none;
}

input[type='range'] { z-index: 2 }

canvas.tonearm { z-index: 1; }
canvas.platter { z-index: 0; }

#main { z-index: 3;}

#main,
canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 100vw;
    height:100px;
    position: absolute;
    right: 0;
}

img.tonearm {
    position: fixed;
    width: 447.77vw;
    top: -56vh;
    left: 13vw;
    height: 256.749vw;
    transform-origin: 347vw 39vh;

}

#tonearmRotate { bottom: 0; }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 50px;
    height: 150px;
}