.hide {
    display: none;
}

canvas.platter {
    z-index: -1;
}

#main {
    z-index: 3;
}

#main,
canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.tonearm {
    position: fixed;
    /*width: 447.77vw;*/
    width: 453px;
    /*top: -100vw;*/
    top: 343px;
    left: 38.40px;
    height: 192.5px;
    cursor: pointer;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 238.5 101"> <defs> <style> .cls-1, .cls-10, .cls-11, .cls-2, .cls-4, .cls-5, .cls-7, .cls-9 { fill: none; } .cls-2, .cls-4, .cls-5, .cls-7, .cls-9 { stroke: #86754d; } .cls-10, .cls-11, .cls-2, .cls-7 { stroke-miterlimit: 10; } .cls-10, .cls-2, .cls-5 { stroke-width: 3px; } .cls-3 { fill: #fff; } .cls-4, .cls-5, .cls-9 { stroke-linecap: round; stroke-linejoin: round; } .cls-6 { clip-path: url(#clip-path); } .cls-8 { fill: #86754d; } .cls-9 { stroke-width: 13px; } .cls-10, .cls-11 { stroke: #fff; } </style> <clipPath id="clip-path"> <rect id="SVGID" class="cls-1" x="10.66" y="-48.07" width="139.76" height="158.45" transform="translate(5.99 74.72) rotate(-51.45)"/> </clipPath> </defs> <title>cartridge</title> <path class="cls-2" d="M238.5,21.38c-17.34.47-38.77,0.32-61,.15l-14.4-.11a11,11,0,1,0-.15,22l14.37,0.11c22.17,0.17,43.64.32,61.2-.13"/> <path id="stub" class="cls-3" d="M238.5,21.38c-17.34.47-38.77,0.32-61,.15l-14.4-.11a11,11,0,1,0-.15,22l14.37,0.11c22.17,0.17,43.64.32,61.2-.13"/> <path class="cls-4" d="M238.49,38.68c-20.31.44-45.34,0.13-72.24-.05"/> <rect class="cls-3" x="122.27" y="14.57" width="6.08" height="31.16"/> <rect class="cls-5" x="122.27" y="14.57" width="6.08" height="31.16"/> <g class="cls-6"> <path class="cls-3" d="M128.36,46.19V14.11a2.84,2.84,0,0,1,2.83-2.84h33.14a2.84,2.84,0,0,1,2.84,2.83V46.17A2.84,2.84,0,0,1,164.33,49H131.19a2.84,2.84,0,0,1-2.84-2.83"/> <rect class="cls-2" x="128.35" y="11.27" width="38.81" height="37.75" rx="2.83" ry="2.83"/> <path class="cls-3" d="M146.58,49.17l-0.07-38.34A2.84,2.84,0,0,1,149.35,8H157a2.84,2.84,0,0,1,2.84,2.83l0.07,38.34A2.84,2.84,0,0,1,157.07,52h-7.65a2.84,2.84,0,0,1-2.84-2.83"/> <path class="cls-2" d="M146.58,49.17l-0.07-38.34A2.84,2.84,0,0,1,149.35,8H157a2.84,2.84,0,0,1,2.84,2.83l0.07,38.34A2.84,2.84,0,0,1,157.07,52h-7.65A2.84,2.84,0,0,1,146.58,49.17Z"/> </g> <path class="cls-7" d="M159.95,48.65l-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06M159.87,33l-13.17.06m13.15-3.19L146.69,30m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m13.15-3.19-13.17.06m3.08-3L149.89,52M153,8.25L153.25,52m3.15-43.73,0.21,43.72"/> <g class="cls-6"> <path class="cls-8" d="M59.64,51.88A2.84,2.84,0,0,1,62.48,49h56.88a2.84,2.84,0,0,0,2.83-2.84V14.11a2.84,2.84,0,0,0-2.84-2.83H62.47a2.84,2.84,0,0,1-2.84-2.83v-6L5.4,2.43A2.84,2.84,0,0,0,2.57,5.27l0,49.83a2.84,2.84,0,0,0,2.84,2.83l54.23,0v-6Z"/> <path class="cls-5" d="M59.64,51.88A2.84,2.84,0,0,1,62.48,49h56.88a2.84,2.84,0,0,0,2.83-2.84V14.11a2.84,2.84,0,0,0-2.84-2.83H62.47a2.84,2.84,0,0,1-2.84-2.83v-6L5.4,2.43A2.84,2.84,0,0,0,2.57,5.27l0,49.83a2.84,2.84,0,0,0,2.84,2.83l54.23,0v-6Z"/> <path class="cls-3" d="M75.88,41.63A11.46,11.46,0,1,1,87.34,30.16,11.46,11.46,0,0,1,75.88,41.63m28.45,0a11.46,11.46,0,1,1,11.46-11.47,11.46,11.46,0,0,1-11.46,11.47"/> <path class="cls-4" d="M75.88,41.63A11.46,11.46,0,1,1,87.34,30.16,11.46,11.46,0,0,1,75.88,41.63Zm28.45,0a11.46,11.46,0,1,1,11.46-11.47A11.46,11.46,0,0,1,104.33,41.62Z"/> </g> <path class="cls-9" d="M86.12,30.16H65.62m49.16,0H94.29"/> <g class="cls-6"> <path class="cls-10" d="M16.88,13.24A6.29,6.29,0,0,0,23,19.53H47.57a6.29,6.29,0,0,0,0-12.58H23A6.29,6.29,0,0,0,16.88,13.24Z"/> <path class="cls-11" d="M19.54,13.24A3.66,3.66,0,0,0,23.1,16.9H47.4a3.66,3.66,0,0,0,0-7.32H23.1A3.66,3.66,0,0,0,19.54,13.24Z"/> </g> <polygon class="cls-8" points="74.93 98.91 73.92 49.66 78.17 49.66 77.18 98.91 74.93 98.91"/> <polygon class="cls-5" points="74.93 98.91 73.92 49.66 78.17 49.66 77.18 98.91 74.93 98.91"/> <g class="cls-6"> <path class="cls-3" d="M32.07,13.1a6.43,6.43,0,1,1,6.43,6.42,6.42,6.42,0,0,1-6.43-6.42"/> <circle class="cls-7" cx="38.5" cy="13.1" r="6.43"/> </g> <line class="cls-7" x1="35.9" y1="7.68" x2="41.24" y2="18.71"/> <g class="cls-6"> <path class="cls-10" d="M16.89,47.24A6.29,6.29,0,0,0,23,53.53H47.58a6.29,6.29,0,0,0,0-12.58H23A6.29,6.29,0,0,0,16.89,47.24Z"/> <path class="cls-11" d="M19.55,47.24a3.66,3.66,0,0,0,3.56,3.66h24.3a3.66,3.66,0,0,0,0-7.32H23.11A3.66,3.66,0,0,0,19.55,47.24Z"/> <path class="cls-3" d="M34.56,52.17a6.43,6.43,0,1,1,9-1.12,6.43,6.43,0,0,1-9,1.12"/> <circle class="cls-7" cx="38.51" cy="47.1" r="6.43" transform="translate(-22.31 48.51) rotate(-52.06)"/></g><line class="cls-7" x1="32.64" y1="45.81" x2="44.62" y2="48.39"/></svg>');
    /*transform-origin: 347vw 39vh;*/

}

.header {
    width: 100%;
    display: flex;
}

.linear-playhead {
    position: relative;
    background-color: #b20000;
    max-height: 45px;
    height: 45px;
    width: 75%;
}

.headsup {
    max-height: 105px;
    height: 105px;
    background-color: #ed3333;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #D43030;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.itunes {
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"> <defs> <style> .cls-1 { fill: #fff; } </style> </defs> <title>itunes</title> <path id="iTunes" class="cls-1" d="M22.5,0A22.5,22.5,0,1,0,45,22.5,22.5,22.5,0,0,0,22.5,0Zm0,40.5a18,18,0,1,1,18-18A18,18,0,0,1,22.5,40.5Zm8.24-12a3.69,3.69,0,0,1-3.21,3.9,3.29,3.29,0,0,1-3.74-3A3.69,3.69,0,0,1,27,25.5a3.42,3.42,0,0,1,1.7.22v-9.4l-9,1.67V29.73h0a0.8,0.8,0,0,1,0,.1,3.69,3.69,0,0,1-3.21,3.89,3.29,3.29,0,0,1-3.74-3A3.69,3.69,0,0,1,16,26.8a3.36,3.36,0,0,1,1.7.22V13.49h0l13.06-2.23h0V28.43h0A0.78,0.78,0,0,1,30.74,28.53Z"/></svg>') no-repeat;
}

.beatport {
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"> <defs> <style> .cls-1 { fill: none; } .cls-2 { fill: #fff; } </style> </defs> <title>beatport</title> <rect class="cls-1" width="45" height="45"/> <g id="logo-headphones"> <g> <path class="cls-2" d="M168.84,24.87A16.34,16.34,0,1,0,140.6,36h0a1,1,0,0,0,1.44,0l1.75-1.66a1,1,0,0,0,0-1.42h0a11.88,11.88,0,1,1,17.32,0h0a1,1,0,0,0,0,1.42L163,36.09a1,1,0,0,0,1.44,0h0a16.32,16.32,0,0,0,4.43-11.18" transform="translate(-130)"/> <g> <path class="cls-2" d="M175,24.78a22.06,22.06,0,0,0-1-6.53h0a1,1,0,0,0-1.26-.65l-2.32.72a1,1,0,0,0-.67,1.26h0a17.46,17.46,0,0,1-1.66,14.11h0a1,1,0,0,0,.36,1.37l2.07,1.24a1,1,0,0,0,1.39-.34A21.62,21.62,0,0,0,175,24.78" transform="translate(-130)"/> <path class="cls-2" d="M136.91,33.69a17.46,17.46,0,0,1-1.67-14.11h0a1,1,0,0,0-.67-1.26l-2.32-.72a1,1,0,0,0-1.26.65h0A21.94,21.94,0,0,0,133.08,36h0a1,1,0,0,0,1.39.34l2.07-1.24a1,1,0,0,0,.36-1.39h0Z" transform="translate(-130)"/></g></g></g></svg>') no-repeat;
}

.youtube {
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"> <defs> <style> .cls-1 { fill: none; } .cls-2 { fill: #fff; } </style> </defs> <title>youtube</title> <rect class="cls-1" width="45" height="45"/> <path id="YouTube" class="cls-2" d="M100.47,32.92H98V31.48a1.16,1.16,0,0,1,1.16-1.16h0.16a1.17,1.17,0,0,1,1.17,1.16Zm-9.26-3.07a1.06,1.06,0,0,0-1.14.94v7a1.16,1.16,0,0,0,2.28,0v-7A1.06,1.06,0,0,0,91.21,29.84Zm15-3.9V39.21A6,6,0,0,1,100.12,45H74.89a6,6,0,0,1-6.14-5.79V25.94a6,6,0,0,1,6.14-5.79h25.23A6,6,0,0,1,106.25,25.94ZM76.57,40.65v-14h3.13V24.6H71.36v2H74v14h2.61Zm9.38-11.9H83.34v7.47a13.23,13.23,0,0,1,0,1.81c-0.21.58-1.17,1.19-1.54,0.06a14.86,14.86,0,0,1,0-1.82V28.75H79.18v7.4c0,1.13,0,2,0,2.36a2.38,2.38,0,0,0,.67,1.92c1.17,0.85,3.42-.13,4-1.33v1.54h2.09V28.75h0Zm8.34,8.55V31.09c0-2.37-1.77-3.79-4.18-1.87V24.6h-2.6V40.55l2.14,0,0.19-1C92.57,42,94.29,40.32,94.28,37.3Zm8.16-.82h-2c0,0.08,0,.17,0,0.26v1.09a1.07,1.07,0,0,1-1.07,1.06H99A1.07,1.07,0,0,1,98,37.85V35h4.48V33.29a26.59,26.59,0,0,0-.13-3.17c-0.32-2.23-3.45-2.58-5-1.44a2.94,2.94,0,0,0-1.09,1.47,8.29,8.29,0,0,0-.33,2.63v3.71C95.86,42.65,103.34,41.78,102.45,36.48Zm-10-20.11a1.78,1.78,0,0,0,.63.79,1.82,1.82,0,0,0,1.07.3,1.66,1.66,0,0,0,1-.31,2.4,2.4,0,0,0,.73-0.94l0,1H98.7V4.87H96.41v9.62a1,1,0,0,1-1.91,0V4.87H92.12v8.34c0,1.06,0,1.77.05,2.13A3.58,3.58,0,0,0,92.42,16.37Zm-8.81-7a10.29,10.29,0,0,1,.3-2.78,3,3,0,0,1,3-2.21,3.61,3.61,0,0,1,1.73.39,2.88,2.88,0,0,1,1.11,1,4,4,0,0,1,.54,1.29,10.26,10.26,0,0,1,.15,2v3.13a16.92,16.92,0,0,1-.14,2.53,4,4,0,0,1-.57,1.5,2.72,2.72,0,0,1-1.12,1,3.57,3.57,0,0,1-1.58.33,4.38,4.38,0,0,1-1.68-.28,2.31,2.31,0,0,1-1.07-.86,3.8,3.8,0,0,1-.55-1.39,13.36,13.36,0,0,1-.16-2.44V9.39h0Zm2.28,4.91a1.16,1.16,0,1,0,2.31,0V7.72a1.16,1.16,0,1,0-2.31,0V14.3Zm-8,3.32h2.74V8.14L83.83,0h-3L79.1,6,77.36,0h-3l3.45,8.14v9.48Z" transform="translate(-65)"/></svg>') no-repeat;
}

.soundcloud {
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"> <defs> <style> .cls-1 { fill: none; } .cls-2 { fill: #fff; } </style> </defs> <title>soundcloud</title> <rect class="cls-1" width="45" height="45"/> <path class="cls-2" d="M260.76,21.36a0.19,0.19,0,0,0-.18.18L260.25,24l0.33,2.46a0.19,0.19,0,0,0,.18.18,0.19,0.19,0,0,0,.18-0.17h0L261.33,24l-0.39-2.5A0.19,0.19,0,0,0,260.76,21.36ZM262.61,20a0.19,0.19,0,0,0-.37,0l-0.44,4,0.44,4a0.19,0.19,0,0,0,.37,0l0.5-4Zm7-3.73a0.35,0.35,0,0,0-.34.34L268.89,24l0.35,4.81a0.34,0.34,0,0,0,.68,0h0l0.4-4.81-0.4-7.44A0.35,0.35,0,0,0,269.58,16.27ZM266,18.85a0.27,0.27,0,0,0-.26.26L265.31,24l0.4,4.77a0.26,0.26,0,0,0,.53,0L266.69,24l-0.45-4.93A0.27,0.27,0,0,0,266,18.85Zm7.27,10.33a0.42,0.42,0,0,0,.42-0.41L274,24l-0.35-9.9a0.42,0.42,0,0,0-.83,0L272.52,24l0.31,4.73A0.42,0.42,0,0,0,273.25,29.18Zm7.51,0a0.58,0.58,0,0,0,.57-0.57h0L281.57,24l-0.24-11.43a0.57,0.57,0,0,0-1.14,0L280,24l0.22,4.6A0.58,0.58,0,0,0,280.75,29.2Zm-3.78,0a0.5,0.5,0,0,0,.49-0.49h0L277.76,24l-0.29-10a0.49,0.49,0,0,0-1,0l-0.26,10,0.26,4.65A0.49,0.49,0,0,0,277,29.19Zm-9.2,0a0.31,0.31,0,0,0,.3-0.3L268.5,24l-0.42-4.57a0.3,0.3,0,0,0-.6,0L267.09,24l0.37,4.81A0.31,0.31,0,0,0,267.77,29.14Zm-3.58-.26a0.23,0.23,0,0,0,.23-0.22L264.89,24l-0.48-4.79a0.23,0.23,0,0,0-.23-0.22,0.23,0.23,0,0,0-.23.22L263.55,24,264,28.66A0.23,0.23,0,0,0,264.19,28.88Zm14.66-15a0.53,0.53,0,0,0-.53.53L278.08,24l0.24,4.62a0.53,0.53,0,0,0,1.07,0h0L279.65,24l-0.27-9.61A0.53,0.53,0,0,0,278.86,13.91Zm-7.45,15.28a0.39,0.39,0,0,0,.38-0.38L272.16,24l-0.37-9.14a0.38,0.38,0,0,0-.76,0L270.7,24,271,28.82A0.38,0.38,0,0,0,271.41,29.19Zm4.15-.45h0L275.88,24l-0.32-10.23a0.46,0.46,0,0,0-.91,0L274.36,24l0.28,4.7a0.46,0.46,0,0,0,.91,0h0Zm24.16-10.6a5.53,5.53,0,0,0-2.14.43,9.77,9.77,0,0,0-9.73-8.9,9.89,9.89,0,0,0-3.54.66,0.63,0.63,0,0,0-.53.65V28.55a0.67,0.67,0,0,0,.6.65h15.34A5.54,5.54,0,0,0,299.72,18.15ZM282.64,11a0.62,0.62,0,0,0-.61.61L281.78,24,282,28.57a0.61,0.61,0,0,0,1.22,0h0L283.52,24l-0.27-12.47A0.62,0.62,0,0,0,282.64,11ZM264.72,32.74c-0.65-.15-0.83-0.24-0.83-0.5s0.15-.37.59-0.37a1.26,1.26,0,0,1,.94.42l0.6-.58a2,2,0,0,0-1.5-.65A1.31,1.31,0,0,0,263,32.28c0,0.81.53,1.06,1.29,1.23s0.92,0.3.92,0.56-0.23.45-.72,0.45a1.34,1.34,0,0,1-1.06-.47l-0.6.53a1.92,1.92,0,0,0,1.6.75c1.13,0,1.62-.53,1.62-1.32A1.37,1.37,0,0,0,264.72,32.74Zm3.8-1.67a1.86,1.86,0,0,0-1.79,2.13,1.82,1.82,0,1,0,3.59,0A1.86,1.86,0,0,0,268.52,31.07Zm0,3.44a1.07,1.07,0,0,1-.94-1.31,1,1,0,1,1,1.89,0A1.07,1.07,0,0,1,268.52,34.51Zm5.13-1.06a0.87,0.87,0,1,1-1.69,0V31.13h-0.83v2.32a1.68,1.68,0,1,0,3.35,0V31.13h-0.83v2.32Zm4.39-.57c0,0.23,0,.75,0,0.9-0.05-.11-0.19-0.31-0.29-0.47l-1.46-2.18h-0.79v4.13h0.81V33.44c0-.23,0-0.75,0-0.9,0.05,0.11.19,0.31,0.29,0.47l1.52,2.25h0.74V31.13H278v1.75Zm3.17-1.75h-1.29v4.13h1.23a2,2,0,0,0,2.11-2.07A1.84,1.84,0,0,0,281.21,31.13Zm-0.06,3.33h-0.41V31.93h0.44a1.08,1.08,0,0,1,1.23,1.26A1.14,1.14,0,0,1,281.15,34.46Zm4.67-2.57a0.79,0.79,0,0,1,.76.45l0.77-.35a1.56,1.56,0,0,0-1.51-.91A1.91,1.91,0,0,0,284,33.2a1.86,1.86,0,0,0,1.81,2.13,1.58,1.58,0,0,0,1.53-.93l-0.7-.41a0.86,0.86,0,0,1-.81.53,1.12,1.12,0,0,1-1-1.31A1.1,1.1,0,0,1,285.81,31.89Zm3.06-.76h-0.83v4.13h2.48V34.45h-1.66V31.13Zm3.83-.06a1.86,1.86,0,0,0-1.79,2.13,1.82,1.82,0,1,0,3.59,0A1.86,1.86,0,0,0,292.71,31.07Zm0,3.44a1.07,1.07,0,0,1-.94-1.31,1,1,0,1,1,1.89,0A1.07,1.07,0,0,1,292.71,34.51Zm5.13-1.06a0.87,0.87,0,1,1-1.69,0V31.13h-0.83v2.32a1.68,1.68,0,1,0,3.35,0V31.13h-0.83v2.32ZM301,31.13H299.7v4.13h1.23A2,2,0,0,0,303,33.2,1.84,1.84,0,0,0,301,31.13Zm-0.06,3.33h-0.41V31.93H301a1.08,1.08,0,0,1,1.23,1.26A1.14,1.14,0,0,1,300.93,34.46Z" transform="translate(-260.25)"/></svg>') no-repeat;
}

.mp3 {
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"> <defs> <style> .cls-1 { fill: none; } .cls-2 { fill: #fffefe; } </style> </defs> <title>mp3</title> <rect class="cls-1" width="45" height="45"/> <g> <polygon class="cls-2" points="22.5 33 37.5 18 28.5 18 28.5 0 16.5 0 16.55 18 7.5 18 22.5 33"/> <polygon class="cls-2" points="34.5 33 34.5 39 10.5 39 10.5 33 4.5 33 4.5 39 4.5 45 40.5 45 40.5 33 34.5 33"/> </g> </svg>') no-repeat;
    /*background: url(assets/mp3.svg) no-repeat;*/
}

.song-title {
    width: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px 2px;
}

.rail {
    background-color: #fa5046;
    height: 1px;
    width: 83%;
    position: absolute;
    top: 23px;
    left: 31px;
}

.scrubber {
    position: absolute;
    top: 6px;
    left: 6px; /*starting point?*/
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg id="right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 30"> <defs> <style> .cls-1 { fill: #ef6062; } .cls-2 { fill: #922327; } .cls-3 { fill: #cc3e3e; } .cls-4 { fill: none; stroke: #922327; } .cls-4, .cls-5 { stroke-miterlimit: 10; } .cls-5 { fill: #fff; stroke: #ee5249; stroke-width: 3px; } </style> </defs> <title>knob</title> <g> <rect class="cls-1" x="0.25" y="0.25" width="36.5" height="29.5" rx="10.06" ry="10.06"/> <path class="cls-2" d="M26.69,0.5a9.82,9.82,0,0,1,9.81,9.81v9.39a9.82,9.82,0,0,1-9.81,9.81H10.31A9.82,9.82,0,0,1,.5,19.69V10.31A9.82,9.82,0,0,1,10.31.5H26.69m0-.5H10.31A10.31,10.31,0,0,0,0,10.31v9.39A10.31,10.31,0,0,0,10.31,30H26.69A10.31,10.31,0,0,0,37,19.69V10.31A10.31,10.31,0,0,0,26.69,0h0Z"/> </g> <g> <path class="cls-3" d="M10.31,29.75A10.07,10.07,0,0,1,.25,19.69V10.31A10.07,10.07,0,0,1,10.31.25h8.14v29.5H10.31Z"/> <path class="cls-2" d="M18.19,0.5v29H10.31A9.82,9.82,0,0,1,.5,19.69V10.31A9.82,9.82,0,0,1,10.31.5h7.89m0.5-.5H10.31A10.31,10.31,0,0,0,0,10.31v9.39A10.31,10.31,0,0,0,10.31,30h8.39V0h0Z"/> </g> <line class="cls-4" x1="18.5" x2="18.5" y2="30"/> <circle class="cls-2" cx="18.69" cy="15" r="9.24"/> <circle class="cls-5" cx="18.69" cy="15" r="5.84"/></svg>') no-repeat;
    cursor: pointer;
}

.time-code {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #b20000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.dots {
    position: absolute;
    left: 16px;
    top: 176px;
}

.dots-container {
    width: 10px;
    margin: 0 auto;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #fc6060;
    margin: 13px 0;
    border: 2px solid #b20000;
    padding: 1px;
}

.dots .active {
    background-color: white;
    width: 8px;
    height: 8px;
    transition: all 0.25s ease;
    border: 2px solid #fa5046;
    padding: 0;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}

.instructions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    padding: 28px 14px;
    text-align: center;

}

.down-arrow {
    background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg width="51px" height="24px" viewBox="0 0 51 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch --> <title>Triangle 1</title> <desc>Created with Sketch.</desc> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M6.53846154,0 L0,0 L25.5,24 L51,0 L44.4615385,0 L25.5,17.8461538 L6.53846154,0 L6.53846154,0 Z" id="Triangle-1" fill="#FFFFFF" sketch:type="MSShapeGroup"></path> </g> </svg>') no-repeat;
    width: 51px;
    height: 24px;
    margin: 90px auto;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}