.hide {
    display: none;
}

canvas.platter {
    z-index: -1;
}

#main {
    z-index: 3;
}

#main,
canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.tonearm {
    position: fixed;
    /*width: 447.77vw;*/
    width: 453px;
    /*top: -100vw;*/
    top: 343px;
    left: 38.40px;
    height: 192.5px;
    cursor: pointer;
    background: url(/build/assets/cartridge.svg);
    /*transform-origin: 347vw 39vh;*/

}

.header {
    width: 100%;
    display: flex;
}

.linear-playhead {
    position: relative;
    background-color: #b20000;
    max-height: 45px;
    height: 45px;
    width: 75%;
}

.headsup {
    max-height: 105px;
    height: 105px;
    background-color: #ed3333;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #D43030;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.itunes {
    width: 45px;
    height: 45px;
    background: url(/build/assets/itunes.svg) no-repeat;
}

.beatport {
    width: 45px;
    height: 45px;
    background: url(/build/assets/beatport.svg) no-repeat;
}

.youtube {
    width: 45px;
    height: 45px;
    background: url(/build/assets/youtube.svg) no-repeat;
}

.soundcloud {
    width: 45px;
    height: 45px;
    background: url(/build/assets/soundcloud.svg) no-repeat;
}

.mp3 {
    width: 45px;
    height: 45px;
    background: url(/build/assets/mp3.svg) no-repeat;
}

.song-title {
    width: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px 2px;
}

.rail {
    background-color: #fa5046;
    height: 1px;
    width: 83%;
    position: absolute;
    top: 23px;
    left: 31px;
}

.scrubber {
    position: absolute;
    top: 6px;
    left: 6px; /*starting point?*/
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url(/build/assets/knob.svg) no-repeat;
    cursor: pointer;
}

.time-code {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #b20000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.dots {
    position: absolute;
    left: 16px;
    top: 176px;
}

.dots-container {
    width: 10px;
    margin: 0 auto;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #fc6060;
    margin: 13px 0;
    border: 2px solid #b20000;
    padding: 1px;
}

.dots .active {
    background-color: white;
    width: 8px;
    height: 8px;
    transition: all 0.25s ease;
    border: 2px solid #fa5046;
    padding: 0;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}

.instructions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    padding: 28px 14px;
    text-align: center;

}

.down-arrow {
    background: url(/build/assets/down-arrow-thin.svg) no-repeat;
    width: 51px;
    height: 24px;
    margin: 90px auto;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}