.hide {
    display: none;
}

canvas.platter {
    z-index: 0;
}

#main {
    z-index: 3;
}

#main,
canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}


img.tonearm {
    position: fixed;
    /*width: 447.77vw;*/
    width: 1432.864px;
    /*top: -100vw;*/
    top: -300.0px;
    left: 38.40px;
    height: 821.5968px;
    cursor: pointer;
    /*transform-origin: 347vw 39vh;*/

}


.linear-playhead {
    position: relative;
    background-color: #b20000;
    max-height: 45px;
    height: 45px;
}

.headsup {
    max-height: 105px;
    height: 105px;
    background-color: #ed3333;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #D43030;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.itunes {
    width: 45px;
    height: 45px;
    background: url(/build/assets/itunes.svg) no-repeat;
}

.beatport {
    width: 45px;
    height: 45px;
    background: url(/build/assets/beatport.svg) no-repeat;
}

.youtube {
    width: 45px;
    height: 45px;
    background: url(/build/assets/youtube.svg) no-repeat;
}

.mp3 {
    width: 45px;
    height: 45px;
    background: url(/build/assets/mp3.svg) no-repeat;
}

.song-title {
    width: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px 2px;
}

.rail {
    background-color: #fa5046;
    height: 1px;
    width: 220px;
    position: absolute;
    top: 23px;
}

.scrubber {
    position: absolute;
    top: 6px;
    left: 8px; /*starting point?*/
    z-index: 2;
    width: 40px;
    height: 40px;
    /*background-color: #fa5046;*/
    /*border: 2px solid white;*/
    /*border-radius: 10px;*/
    background: url(/build/assets/knob.svg) no-repeat;
    cursor: pointer;
}

.time-code {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    position: absolute;
    right: 4px;
}

.dots {
    position: absolute;
    left: 16px;
    top: 176px;
}

.dots-container {
    width: 10px;
    margin: 0 auto;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #fc6060;
    margin: 13px 0;
    border: 2px solid #b20000;
    padding: 1px;
}

.dots .active {
    background-color: white;
    width: 8px;
    height: 8px;
    transition: all 0.25s ease;
    border: 2px solid #fa5046;
    padding: 0;
}

.invisible {
    opacity: 0;
}